
@media screen {


* {
  margin:0;
  padding:0;
  border:0;
  outline:0;


  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

#ball{
  margin:0;
  position: 110px;
  width: 10%;
}

#menu {
  background: grey;
  border-bottom: 3px solid black; 
text-decoration: none;
  color: black;

  top: 0;
  left: 0;
  height: 55px;  
  width: 100%;
  position: fixed; 
  padding-top: 5px;
  padding-left: 2f;
  z-index: 999;

}


li {
 /*  background-color: red; */
  font-family: helvetica;
  color: black;
  display: inline-block;
  font-size: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2.5px;
}

a {
    text-decoration: none;
    color: white;
}





}

#title {
	font-size: 20px;
	text-align: center;
	font-family: helvetica;
}



    .left {
      animation: colorchange 1s; /* animation-name followed by duration in seconds
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 5s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background:  #FFC0CB;}
      25%  {background:  #FFB6C1;}
      50%  {background:  #DB7093;}
      75%  {background:  #FFDAB9;}
      100% {background:  #FFC0CB}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {*/
    
    }


    .right {
      animation: colorchange 100s; /* animation-name followed by duration in seconds
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 100s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background:  #003366;}
      25%  {background:  #0033cc;}
      50%  {background:  #006666;}
      75%  {background:  #003366;}
      100% {background:  #FFC0CB}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: blue;}
      25%  {background: grey;}
      50%  {background: white;}
      75%  {background: grey;}
      100% {background: grey;}
    }



#maintitle img {
  width: 80%;
 position: relative;
 top: 100px;
 padding-left: 90px;

}

#question {
  background-color: white;
  border-bottom: 3px solid black; 
  border-top: 3px solid black; 
  width: 100%;
  padding-top:70px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  letter-spacing: 0px;
  word-spacing: -2px;
  font-size: 20px;
  line-height: 1.5;

  float: none;
}


#question2 {
  border-bottom: 3px solid black; 
  border-top: 3px solid black; 
  background-color: white;
  width: 100%;
  padding-top:70px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  letter-spacing: 0px;
  word-spacing: -2px;
  font-size: 20px;
  line-height: 1.5;

  float: none;
}



#image {
  background-color: black;
  width: 100%;
  height:50%;
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  letter-spacing: 0px;
  word-spacing: -2px;
  font-size: 20px;
  line-height: 1.5;
  
}

#image img{

  width: 70%;
   margin-top:-25px;
   margin-left: 80px;

}



#image img:hover {
    color:blue;
    width:130%;
}


#ondertitel {
	font-family: times;
	font-size: 50px;
	color: white;
	text-align: center;
   line-height: 1.2;
	
	margin-top: 100px;	
}
 

#abstract {
  color: white;
  font-size: 12pt;
  line-height: 1.5;
  padding: 0% 10% 0% 10%; 
 /* hoogte bovenkant tekst!*/
  margin-top: 150px;

}

.chaptertitle{ 

  font-size: 12pt;
  color: blue;
  line-height: 1.5;
  padding: 0% 10% 0% 10%; 
  margin-top: 25%;
 /* hoogte van de tekst left*/

}

#chapter1{
color: white;
font-size: 15px;
font-family: helvetica;
padding: 0% 10% 0% 10%; 

}


#chapter2{

color: white;
font-size: 15px;
font-family: helvetica;
padding: 0% 10% 0% 10%; 

}

#chapter3{

color: white;
font-size: 15px;
font-family: helvetica;
padding: 0% 10% 0% 10%; 

}

#chapter4{

color: white;
font-size: 15px;
font-family: helvetica;
padding: 0% 10% 0% 10%; 

}


.left {
   background-color: #CCCCCC; 
  border-right: 3px solid black; 
  height: calc(110vh - 4em);

/*breedte van de strook, probeer eens 20%*/
  width: 50%;
/*  height: 50%);*/
/*  moet height: calc(105vh - 4em); zijn*/

margin-top: 40px;
/*padding-bottom: 40px;*/

  position: fixed;
  display: inline-block;
  float: left; 

}


.boxone{
  border-top: 3px solid black; 
/*breedte van de strook in .left, probeer eens 20%*/
  width: 100%;
  /*height: 500%;*/

}


.boxthree {
  position: relative;
  background-color: white;
  border-top: 3px solid black; 

  width: 100%;
  height: 50%;

  display: inline-block; /*float in the same line*/
  float: left;

}
.boxthree.empty {
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;

}

  .quote {
  color: white;
  font-size: 25pt;
  line-height: 1.5;
  padding: 0% 5% 0% 5%; 

}


/*  moet 4 em zijn*/
/*left: 255 px;*/
  /*padding-top: 425px;
  padding-bottom: 40px;*/
/*  overflow: scroll;*/
    /*top right bottom left*/
/* position: fixed;
  display: inline-block;
  float: center; */
}


.boxtwo {
   background-color: pink; 
  border-top: 3px solid black; 
/*  background-image: url(img/steen.gif);*/
background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  padding-bottom: 100%;
  display: inline-block;

}



img {
  width: 90%;
}

/*
.chapterref.emptyy {
  
color: white;
padding-left: 20%;
}*/


.foot1{
size: 100px;
color: blue;


}

.right {
  background-color: black;
  width: 50%;
  max-height: calc(100vh - 4em);

  letter-spacing: 1px;
  word-spacing: -2px;
  font-size: 20px;
  line-height: 1.5;
  font-family: helvetica;
  padding-bottom: 100%; 
/*  was eerst margin-bottom:40px;*/
  overflow: scroll;
  word-break: keep-all;

  display: inline-block; /*float in the same line*/
  float: right;

}





  .references {

  width: 100%;
  height: 50%;
  color: white;
  font-size: 50pt;
  letter-spacing: 0px;
  word-spacing: -2px;
  line-height: 1;
  /*padding: 0% 10% 0% 10%; */
  margin-top: 20%;
  padding: 15px 25PX 25PX 20PX;

}


.references:hover {
    color:blue;
    background-color: white;
    border-top: 3px solid black;
}




/* text hover and photo appears */

i {
  padding-bottom: 4px;
  border-bottom: 0.1em solid #0033ff;
  caption-side: bottom;
  position: relative;
}

i:hover {color: #ffffff }


}











@media only print {
    
button { 
  display:none;

}

img {

  display: none; 
} 

.right {
  background-color: black;
  width: 100%;
  max-height: calc(100vh - 4em);

  letter-spacing: 1px;
  word-spacing: -2px;
  font-size: 20px;
  line-height: 1.5;
  font-family: helvetica;
  padding-bottom: 100%; 
/*  was eerst margin-bottom:40px;*/
  overflow: scroll;
  word-break: keep-all;

  display: inline-block; /*float in the same line*/
  float: right;

}


.left {
   background-color: #CCCCCC; 
  border-right: 3px solid black; 


/*breedte van de strook, probeer eens 20%*/
  width: 0%;
  height: 0%);
/*  moet height: calc(105vh - 4em); zijn*/

margin-top: 40px;
/*padding-bottom: 40px;*/

  position: fixed;
  display: inline-block;
  float: left; 

}

}

}



