head{

	hoi
}

body{
	background-color: grey;
background-image: url("BRIEFDESIGN-02.png");
background-repeat: no-repeat;
background-position: top;
background-size: 700px;
     
}

/*#hoi {

	width: 20px;
	height:100px;



}
*/