
@media print {
   …
}

header nav, footer, button, menu, #menu, #li, .left, img {
display: none;
}


img {
max-width: 500px;
}


 
.right, #abstract, #chapter1, #chapter2, #chapter3, #chapter4, #question, #ondertitel{

font-size: 25px;
font-family: courier;
/*margin-left: 1px;
margin-right: 0px;*/
text-decoration: justify;


}

.right {

	width: 100%;
}


.right {
	page-break-before: always;

}